@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 20px;
}

li {
    display: flex;
    flex-direction: row;
    list-style: none;
}

p {
    margin: 0;
    margin-right: 30px;
}